<html>
  <body>
    <ul>
        <li>
            <p>Yay I successfully created another GET route that serves a page!</p>
        </li>
        <li>
            <p>Last year I built a motorized bike. It was super janky, grimey and dangerous, but really fun when it worked</p>
        </li>
        <li>
            <p>One of the first programs I made in python was a script that drew iterations of the Hilbert Curve</p>
        </li>
        <li>
            <p>I independently discovered <a href="https://en.wikipedia.org/wiki/Hofstadter%27s_law">Hofstadter's Law</a> more times that I care to recount</p>
        </li>
    </ul>
  </body>
</html>

